@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500;600;700;800&family=Roboto+Slab:wght@300;400;600&display=swap");

/* Top Level DOM Elements */

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    touch-action: manipulation;
}

/* Main Menu */

.main-background {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/game-assets/planet.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.main-menu-content {
    background-image: linear-gradient(#fff, #FF55DD );
    box-sizing: border-box;
    top: 12vh;
    width: 600px;
    height: fit-content;
    margin: auto;
    margin-top: 12vh;
    z-index: 3;
}

.main-menu-header {
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
    margin: 20px auto 10px auto;
    padding: 10px;
}

.main-menu-text {
    font-size: 1.5rem;
    font-family: 600;
    margin: 5px;
    padding: .5rem;
}

/* Buttons */

.main-menu-button {
    margin-top: 15px;
    font-size: 105%;
    border-radius: 20px;
    cursor: pointer;
}

.game-button {
  background-image: linear-gradient(#fff, #FF55DD);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.game-button-reverse {
    background-color: #a8fffd;
    color: #000;
    width: 35px;
    height: 35px;
    font-size: 110%;
    cursor: pointer;
}

.level-select-button {
    margin: 2vh auto;
}

.audio-button {
    background-color:#00ffff;
    min-width: 50px;
    height: 50px;
    margin-top: 0;
    margin-bottom: 1vh;
    cursor: pointer;
}

.audio-slider {
    margin-bottom: 25px;
}

#main-contact-button {
    margin-bottom: 5vh;
}

.contact-submit {
    max-width: 100%;
    height: auto;
    margin: auto;
    background-color: #ffff00;
    font-weight: 500;
    margin-bottom: 3vh;
}

.contact-submit:active {
    background-image: linear-gradient(to right, #fff, #00ffff);
}

.game-over-donate {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.game-over-button {
    text-align: center;
    border: 1px solid black;
    flex: 1;
    font-family: "Exo 2", sans-serif;
    font-size: 120%;
    font-weight: 500;
    background-color: #a8fffd;
    color: #000;
    text-decoration: none;
    max-width: 110%;
    max-height: 110%;
    min-height: 40px;
    min-width: 60px;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 2vh 7vw 3vh;
    cursor: pointer
}

.modal-close {
    margin: 2vh auto;
    height: auto;
    width: auto;
    border-radius: 10%;
}

.modal-close:active {
    color: #000;
    background-color: #ffff00;
}

button:active {
    color: #000;
    background-image: linear-gradient(to right, #fff, #ffff00) ;
}

/* Mini Menu Stylings */

.modal {
    z-index: 8;
}

.modal-header {
    font-family: "Exo 2", sans-serif;
    text-align: center;
    margin-bottom: 1vh;
}

.modal-content {
    background-image: linear-gradient(#fff, #FF55DD);
    height: auto;
    width: auto;
    margin: auto;
    margin-top: 12vh;
}

.modal-content p {
    padding: 0 20px;
}

.modal-backdrop {
    background-color: transparent;
    z-index: -1;
}

.set-up-content img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.contact-content input {
    margin: auto;
    margin-bottom: 2vh;
    text-align: center;
} 

.game-over {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/game-assets/game-board.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
}

.game-over-content {
    background-image: linear-gradient(#fff, #FF55DD );
    box-sizing: border-box;
    width: 80%;
    height: auto;
    font-size: 1rem;
    z-index: 3;
}

.ingame-menu {
    height: 3vh;
    width: 80%;
    margin: auto;
    right: 0;
    margin-top: 25px;
    z-index: 5;
    display: flex;
}

/* All the Game Area Stylings */

#game-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/game-assets/game-board.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
}

.score-container,
.time-container {
    flex: 1;
    font-family: "Exo 2", sans-serif;

}

  .controls-container button {
    font-size: 120%;
    width: 50px;
    height: 50px;
  }

#game-board {
    position: relative;
    width: 600px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    margin: 33vh auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

/* Game Assets: Alien Plant Bushes and Alien Ambushers Styling */

/* Start of customized code from Frank's Labratory: https://youtu.be/RTb8icFiSfk */

.plant {
    flex: 1 0 33.33%;
    position: relative;
    overflow: hidden;
}

.plant:after {
    content: "";
    display: block;
    background-image: url("../images/game-assets/plant.svg");
    bottom: 0;
    left: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 4;
    width: 80%;
    height: 55%;
}

.plant-forward:after {
    left: 33%;
}
 
.alien-one {
  background-image: url("../images/game-assets/alien-one.svg");
  position: absolute;
  left: 20%;
  bottom: 0;
  top: 100%;
  width: 105px;
  height: 160px;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 3;
}

.alien-two {
  background-image: url("../images/game-assets/alien-two.svg");
  position: absolute;
  left: 17%;
  bottom: 0;
  top: 100%;
  width: 110px;
  height: 130px;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 3;
}

.plant-forward .alien-one.big {
    left: 15%;
    width: 105px;
}

.plant-forward .alien-two.big {
    left: 10%;
}

.plant.up .alien-one {
    top: 0;
}

.plant.up-two .alien-two {
    top:0;
}

/* Media Queries */

@media only screen and (max-width: 768px) {

    #game-board {
    width: 80vw;
    height: 55vh;
  }

.plant:after {
    left: 10%;
    width: 80%;
    height: 55%
}

.plant-forward:after {
    left: 25%;
}

.alien-one {
  left: 0;
  width: 66%;
  height: 85%;
  transition: 0.3s;
}

.alien-two.small,
.alien-two.big {
    left: 0;
    width: 80%;
    height: 75%;
}

.plant-forward .alien-one.big {
    width: 66%;
    height: 80%;   
    left: 15%;
}

}

@media only screen and (max-width: 600px) {

    .main-menu-content {
        top: 15%;
        width: 80vw;
        height: fit-content;
    }

    .main-menu-buttons {
        height: 200px;
    }

    .modal-content {
        margin-top: 5vh;
    }

    #game-board {
    width: 80vw;
    height: 55vh;
  }

  .ingame-menu {
    position: absolute;
    top: 5%;
    z-index: 8;
    flex-direction: column;
}

.controls-container {
    order: 1;
    margin-top: 0;
    padding-top: 0;
}

.controls-container button {
    margin-right: 10px;
}

  .score-container {
    order: 2;
    margin-top: 20px;
  }

  .time-container {
      order: 3;
  }

  .controls-container button {
    font-size: 90%;
    width: 40px;
    height: 40px;
  }

.plant:after {
    left: 10%;
    width: 80%;
    height: 60%
}

.plant-forward:after {
    left: 20%;
}

.alien-one {
  left: 12%;
  width: 80%;
  height: 80%;
  transition: 0.3s;
}

.plant-back .alien-two {
  left: 5%;
  width: 90%;
  height: 70%;
  transition: 0.3s;
}

.plant-forward .alien-two.big {
  left: 5%;
  width: 100%;
  height: 70%;
  transition: 0.3s;
}

.plant-back .alien-one.small {
    left: 10%;
    height: 70%;
}

.alien-one.big {
    width: 66%;
    height: 95%;   
    left: 15%;
}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {

.alien-one,
.alien-two {
  left: 10%;
  width: 90%;
  height: 75%;
  transition: 0.3s;
}

.alien-one.big,
.alien-two.big {
    left: 20%;
    width: 75%;
    height: 85%;
}

}

@media only screen and (max-device-width: 320px) {

    .main-menu-text {
    font-size: 20px;
    font-family: 600;
    margin: 5px auto 0 auto;
    padding: 10px;
}

    .main-menu-button {
    margin-top: 15px;
}

}