@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500;600;700&family=Roboto+Slab:wght@300;400&display=swap");

/* Top Level General Formatting */

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

/* Game Area + Board */

.game-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/game-assets/desktop-board.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
}

.ingame-menu {
    height: 5%;
    width: 45%;
    position: absolute;
    top: 20px;
    z-index: 5;
    left: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.score-container,
.time-container {
 
    flex: 1;
    font-family: "Exo 2", sans-serif;

}

  .controls-container button {
    font-size: 120%;
  }

#game-board {
    border: 2px solid black;
    position: relative;
    width: 600px;
    height: 400px;
    margin: 33vh auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

/* In-game Menu Buttons */

.controls-container button {
  background-image: linear-gradient(#fff, #FF55DD);
  width: 40px;
  height: 40px;
}



/* Plants and Aliens */
/* Start of customized code from Frank's Labratory: https://youtu.be/RTb8icFiSfk */

.plant {
    border: 3px solid red;
    flex: 1 0 33.33%;
    position: relative;
    overflow: hidden;
}

.plant:after {
    content: "";
    display: block;
    background-image: url("../images/game-assets/plant.svg");
    bottom: 0;
    left: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 4;
    width: 80%;
    height: 66%;
}

.plant-forward:after {
    left: 33%;
}

.alien-one {
  background-image: url("../images/game-assets/alien-one.svg");
  position: absolute;
  left: 43%;
  bottom: 0;
  top: 100%;
  width: 105px;
  height: 170px;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 3;
}

.alien-one.small {
    background-size: 88%;
}

.alien-one.big {
    background-size: 95%;
}

.plant.up .alien-one {
    top: 0;
}



/* Media Queries */

@media only screen and (max-width: 768px) {
 
    #game-board {
    width: 80vw;
    height: 55vh;
  }

.plant:after {
    left: 10%;
    width: 80%;
    height: 60%
}

.plant-forward:after {
    left: 25%;
}

.alien-one {
  left: 32%;
  width: 66%;
  height: 85%;
  transition: 0.3s;
}

.alien-one.small {
    background-size: 85%;
}

.alien-one.big {
    width: 50%;
    height: 95%;   
    left: 38%;
}

}

@media only screen and (max-width: 600px) {
 
    #game-board {
    width: 80vw;
    height: 55vh;
  }

  .ingame-menu {
    height: 100px;
    width: 80%;
    position: absolute;
    top: 5%;
    z-index: 2;
    right: 0;
    display: flex;
    flex-direction: column;
}

.controls-container {
    order: 1;
}

.controls-container button {
    margin-right: 10px;
}

  .score-container {
    order: 2;
    margin-top: 20px;
  }

  .time-container {
      order: 3;
  }

  .controls-container button {
    font-size: 120%;
  }

.plant:after {
    left: 10%;
    width: 80%;
    height: 60%
}

.plant-forward:after {
    left: 20%;
}

.alien-one {
  left: 32%;
  width: 80%;
  height: 80%;
  transition: 0.3s;
}

.alien-one.small {
    background-size: 85%;
}

.alien-one.big {
    width: 66%;
    height: 95%;   
    left: 33%;
}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {

    .plant:after {
    left: 5%;
    width: 80%;
    height: 66%
}

.plant-back:after {
    width: 95%;
    bottom: -40px;
}

.plant-forward:after {
    left: 8%;
}

.alien-one {
  left: 15%;
  width: 110%;
  height: 95%;
  transition: 0.3s;
}

.alien-one.big {
    left: 33%;
    width: 75%;
    height: 85%;
}
}
